@inherits LayoutComponentBase
<MudThemeProvider />
<MudPopoverProvider />
<div class="page">
   <main>
        <QuranFlow.Pages.AppBar />
        <article>
            @Body
        </article>
    </main>
</div>
